{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}Palette Portal{% endblock %}
    </title>

    <link href="{% static 'css/palette.css' %}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/color-thief/2.3.2/color-thief.umd.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="{% static 'js/palette.js' %}"></script>
</head>

<body>
    <div class="header">
        <a href="/" id="header-hover">Palette Portal</a>
    </div>

    <div class="subheader">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    {{ total_items }} item{{ total_items|pluralize }} found in cart🛒
                {% else %}
                    Cart🛒 is empty
                {% endif %}
            {% endwith %}
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>